@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);    

*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    font-family: arial;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
header{
    background: linear-gradient(to right,  #00FF00,#FFFFFF );
    height: 8rem;
    color: #000;
    font-size: 1.8rem;
    padding: 5rem;
    padding-top: 0.5rem;
    /*position: fixed;*/
    width: 100%;
    height: 80px;
}
footer{
    background: linear-gradient(to right,  #00FF00,#FFFFFF );
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
    width: 100%;
}
.conteudo{
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1rem;
    text-align: justify;
    margin: 0 auto;
    max-width: 95%;
    padding-top: 2rem;
}

/*  WEATHER WIDGET */

#weather_wrapper{
    width: 400px;
    margin: 100px auto;
}
.weatherCard{
    width: 400px;
    height: 200px;
    font-family: 'Open Sans';
    position: relative;    
}

.currentTemp{
    width: 220px;
    height: 200px;
    background: rgb(41, 41, 41);
    position: absolute;
    top: 0;
    left: 0;
}
.currentWeather{
    width: 180px;
    height: 200px;
    background: rgb(237, 237, 237);
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.temp{
    font-size: 80px;
    text-align: center;
    display: block;
    font-weight: 300;
    color: rgb(255, 255, 255);
    padding: 20px 0 0;
}
.location{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    display: block;
}
.conditions{
    font-family: weathericons;
    font-size: 80px;
    display: block;
    padding: 20px 0 0;
    text-align: center;
}
.info{
    width: 180px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(42, 178, 234);
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
}
.rain {
    width: 50%;
    position: absolute;
    left: 10px;
    word-spacing: 60px;
    top: 3px;
}
.rain::before{
    display: block;
    content: '\f04e';
    font-family: weathericons;
    font-size: 40px;
    left: 6px;
    top: -4px;
    position: absolute;
}
.wind {
    width: 50%;
    right: -10px;
    position: absolute;
    word-spacing: 60px;
    top: 3px;
}
.wind::before{
    display: block;
    content: '\f050';
    font-family: weathericons;
    font-size: 25px;
    left: -10px;
    position: absolute;
    top: 5px;
}

/*  FIM   */   

.conteudo-topo{
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1rem;
    text-align: justify;
    margin: 0 auto;
    max-width: 95%;
    padding-top: 2rem;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.9rem;
}

h3{
    font-size: 1.7rem;
}

h4{
    font-size: 1.6rem;
}

body{
    background-color: #dcdcdc;
}
figure{
    text-align: center;
}
.Imagens{
    border-radius: 20px 20px 50px 10px;
    width: 90%;
    height: 70%;
}

.legenda_grafico{
    font-size: 2rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}

#formulario{
    background-color: #dcdcdc;
}

input{
    border: solid;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.8rem;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#mensagem{
    border: solid;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.8rem;
}

@media(min-width: 280px) and (max-width: 820px){
    .Imagens{
        border-radius: 20px 20px 50px 10px;
        width: 90%;
        height: 70%;
    }
}
#grid-conteudo{
    background-color: #dcdcdc;
}

#btn-limpar{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

#enviar{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

#titulo{
    font-size: 2.5rem;
}

#cabecalho{
    padding-left: 2rem;
}

nav{
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    word-spacing: 10px;
    margin-right: 5%;
    padding: 5px;
}

a{
    color: #000;
}

.container {   
    position: fixed;
    margin-right: 5%;    
    padding-left: 65%;
    /*width: auto;*/
    /*text-align: left;*/
}
  
/* The navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
}
  
/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#data_inicial{
    padding-left: 5px;
}
